/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap'); */

:root {
    --black: #000;
    --off-black: #1a1a1a;
    --grey: #999;
    --light: #eee;
    --canvas-color-dark: var(--black);
    --canvas-color-mid: var(--grey);
    --canvas-color-light: var(--light);
    --highlight: rebeccapurple;
    --highlight-light: #c2add6;
    --highlight-dark: #391d56;
}

html {
    background: var(--off-black);
}

body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main > * {
    width: 250px;
    height: 250px;
    margin: 10px;
    box-sizing: border-box;
}

h1, h2 {
    margin: 0;
    font-family: 'Rubik Dirt', cursive;
    font-weight: 400;
    text-align: center;
    color: var(--light);
    cursor: default;
    text-shadow: -1px -1px 2px var(--highlight),
                 -1px  1px 2px var(--highlight),
                  1px -1px 2px var(--highlight),
                  1px  1px 2px var(--highlight);
}

h1 {
    font-size: min(60px, 20vw);
}
h2 {
    font-size: min(30px, 18vw);
}
h3 {
    color: var(--light);
    font-size: min(18px, 12vw);
    line-height: 30px;
    text-align: center;
    padding: 15px;
    margin: 20px 0;
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
}

h4 {
    color: var(--light);
    font-size: min(24px, 14vw);
}

p, label {
    text-align: center;
    color: var(--light);
}

a {
    color: inherit;
}

canvas {
    border: 3px double var(--highlight-light);
}

output {
    background-color: var(--highlight-light);
    min-height: 200px;
    display: block;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.25em;
}


code {
    font-size: 1.4em;
    font-family: monospace;
}

*::selection {
    background-color: var(--highlight-light);
}
