/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap'); */

:root {
    --black: #000;
    --off-black: #1a1a1a;
    --grey: #999;
    --light: #eee;
    --canvas-color-dark: var(--black);
    --canvas-color-mid: var(--grey);
    --canvas-color-light: var(--light);
    --highlight: rebeccapurple;
    --highlight-light: #c2add6;
    --highlight-dark: #391d56;
}

html {
    background: var(--off-black);
}

body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: sans-serif;
}

main {
    text-align: center;
}

main img {
    width: 200px;
    margin: 10px;
    vertical-align: middle;
}

h1, h2 {
    margin: 0;
    font-family: 'Rubik Dirt', cursive;
    font-weight: 400;
    text-align: center;
    color: var(--light);
    cursor: default;
    text-shadow: -1px -1px 2px var(--highlight),
                 -1px  1px 2px var(--highlight),
                  1px -1px 2px var(--highlight),
                  1px  1px 2px var(--highlight);
}

h1 {
    font-size: min(60px, 20vw);
}
h2 {
    font-size: min(30px, 18vw);
}
h3 {
    color: var(--light);
    font-size: min(18px, 12vw);
    line-height: 30px;
    text-align: center;
    padding: 15px;
    margin: 20px 0;
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
}

h4 {
    color: var(--light);
    font-size: min(24px, 14vw);
}

p, label {
    text-align: center;
    color: var(--light);
}

a {
    color: inherit;
}

input {
    width: 100px;
    font-size: 1.25em;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px 0 20px;
}

button, label {
    font-size: 2em;
    padding: 10px 15px;
    margin: 10px 4px 4px;
    border-radius: 10px;
    border: 2px solid var(--highlight);
    background-color: var(--highlight-dark);
    color: var(--light);
    cursor: pointer;
    transition: 0.25s;
    vertical-align: middle;
}

button:hover, label:hover {
    background-color: var(--highlight);
}

main nav > button {
    background-color: var(--off-black);
}

main nav > button:hover {
    background-color: var(--highlight);
}

main nav > button img {
    height: 20px;
    width: auto;
}

input[type="radio"] {
    width: 25px;
    margin-left: 100px;
}

input[disabled] {
    background-color: var(--grey);
}

output {
    background-color: var(--highlight-light);
    width: 90%;
    max-width: 500px;
    min-height: 200px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
}

ul {
    padding: 0;
    list-style-type: none;
}

code {
    font-size: 1.4em;
    font-family: monospace;
}

*::selection {
    background-color: var(--highlight-light);
}

.gameDie {
    display: inline-block;
    background-color: ivory;
    color: black;
    font-size: 4em;
    padding: 0 0.25em 0.1em;
    margin: 5px;
    border: 2px solid brown;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}
